.company-heading{
	text-align: center!important;
	color: #ffffff!important;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 10px;
}

.headline{
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: #ffffff;
}

.main1{
	margin-top: -20px;
}

.req-pickup{
	margin-top: 50px!important; 
	font-size: 20px;
}